.header-liens {
    text-decoration: none;
    color: black;
}


.header-navbar {
    text-align: center;
    font-family: Inter;
}

.header-navbar li {
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    vertical-align: middle;
}