<!DOCTYPE html>
<html>
    <body>
    <header>
			<div class="header-navbar">
				<ul {% if app.request.get('_route') in ['billetterie', 'profil', 'profiledit'] %} style="background-color: white; padding-top: 10px; margin: 0;" {% endif %}>
					<li>
						<a class="header-liens" href="{{ path('login') }}">Planning</a>
					</li>
					<li>
						<a class="header-liens" href="{{ path('login') }}">Billetterie</a>
					</li>
					<li><img width="60%" src="../img/Logo1.png"></li>
					<li>
						<a class="header-liens" href="{{ path('login') }}">Contact</a>
					</li>
					<li>
						<a class="header-liens" href="{{ path('login') }}">Connexion</a>
					</li>
				</ul>
			</div>
		</header>
        {% block body %}{% endblock %}
    </body>
</html>