{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <title>Crédits</title>
  </head>
  <body class="min-h-screen flex items-center justify-center">
    <section class="flex justify-center space-x-[50px]">
      <!-- Haris -->
      <div
        class="w-[450px] h-[550px] rounded-[8px] bg-gradient-to-b from-[#D5DD3C] to-[#6E6C19] p-1"
      >
        <div
          class="flex flex-col h-full w-full items-center justify-center bg-white space-y-4"
        >
          <img src="../img/haris.svg" class="w-[358.719px] h-[300px]" alt="Haris BENLAMRI" />
          <p class="text-xl font-semibold">Haris BENLAMRI</p>
          <p class="text-md">Responsable Backend</p>
          <div class="flex space-x-[50px] justify-center mt-4">
            <a
              href="https://github.com/Bennirahh"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="../img/blackgithub.svg" class="w-[50px] h-[50px]" alt="github" />
            </a>
            <a
              href="https://www.linkedin.com/in/haris-benlamri/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../img/blacklinkedin.svg"
                class="w-[50px] h-[50px]"
                alt="linkedin"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- Clement -->
      <div
        class="w-[450px] h-[550px] rounded-[8px] bg-gradient-to-b from-[#4C5214] to-[#828F23] p-1"
      >
        <div
          class="flex flex-col h-full w-full items-center justify-center bg-white space-y-4"
        >
          <img src="../img/clement.svg" class="w-[358.719px] h-[300px]" alt="Clément MARCHESSE" />
          <p class="text-xl font-semibold">Clément MARCHESSE</p>
          <p class="text-md">Dev Frontend et Backend</p>
          <div class="flex space-x-[50px] justify-center mt-4">
            <a
              href="https://github.com/Silane-la-banane"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="../img/blackgithub.svg" class="w-[50px] h-[50px]" alt="github" />
            </a>
            <a
              href="https://www.linkedin.com/in/cl%C3%A9ment-marchesse/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../img/blacklinkedin.svg"
                class="w-[50px] h-[50px]"
                alt="linkedin"
              />
            </a>
          </div>
        </div>
      </div>
      <!-- Paul -->
      <div
        class="w-[450px] h-[550px] rounded-[8px] bg-gradient-to-b from-[#CFDBA9] to-[#828F23] p-1"
      >
        <div
          class="flex flex-col h-full w-full items-center justify-center bg-white space-y-4"
        >
          <img src="../img/paul.svg" class="w-[358.719px] h-[300px]" alt="Paul-Henri Lagache" />
          <p class="text-xl font-semibold">Paul-Henri Lagache</p>
          <p class="text-md">Designer / Dev Frontend</p>
          <div class="flex space-x-[50px] justify-center mt-4">
            <a
              href="https://github.com/Paul-Henri11"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="../img/blackgithub.svg" class="w-[50px] h-[50px]" alt="github" />
            </a>
            <a
              href="https://www.linkedin.com/in/paulhenrilagache/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../img/blacklinkedin.svg"
                class="w-[50px] h-[50px]"
                alt="linkedin"
              />
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}
