{% for user in users %}
    <li>{{ user.UserFirstname }}</li>
    {% if user.reservation %}
        <li>{{ user.reservation.reservationCategory }}</li>
    {% else %}
        <li>Aucune réservation</li>
    {% endif %}
{% endfor %}
