<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
</head>
{% block body %}
 <div class="page-login">
 <div class="login-navbar">
 <ul>
 <li>Planning</li>
 <li>Billetterie</li>
 <li><img width="60%" src="../img/Logo1.png"></li>
 <li>Contact</li>
 <li>Connexion</li>
 </ul>
 </div>
 <div class="login-centre">
 <div class="login-titre login-titre-bloc">
 <p class="login-titre login-titre1">SE CONNECTER</p>
 <p class="login-titre login-titre2">CONTENT DE TE REVOIR</p>
 <p class="login-texte">Réactivez votre énergie ! Connectez-vous pour accéder à vos séances et révélez le potentiel athlétique qui est en vous</p>
 </div>
  <div class="login-formulaire-bloc">
 <form class="login-formulaire">
 <p class="login-form-titre">Votre compte</p>
  <label class="login-label" for="fname">E-mail</label><br>
  <input class="login-input" type="text" id="fname" name="fname" placeholder="Exemple@exemple.fr"><br>
  <label class="login-label" for="lname">Mot de passe</label><br>
  <input class="login-input" type="text" id="lname" name="lname" placeholder="Exemple@exemple.fr">
  <br>
  <input class="login-submit" type="submit" value="Se connecter">
  <div class="login-barre"></div>
  <div class="login-form-footer">
  <p>Vous n'avez pas du compte ?</p>
  <div></div>
  <div class="login-form-footer-logo">
  <p>S'inscrire</p>
  <img src="../img/login-submit.png">
  </div>
  </div>
</form>
 </div>
 </div>
 </div>
</section>
    <script src="{{ asset('js/theme.js') }}"></script>
{% endblock %}
</html>
