{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <title>Politique de confidentialité</title>
  </head>
  <body class="">
    <section>
      <div
        class="w-full flex justify-center py-32 min-h-screen max-w-[1535px] relative"
      >
        <div
          class="px-10 pt-8 w-[840px] h-auto md:px-4 lg:px-6 relative text-gray-500 dark:text-light-grey"
        >
          <div class="relative">
            <h1 class="text-5xl capitalize sticky text-darkest">
              Mentions légales
            </h1>              
          
            <div class="my-5 w-20 h-2 bg-[#D5DD3C]"></div>
            <div
              class="flex mt-12 py-2 border-dashed border-y-2 border-[#D5DD3C]"
            >
              <div class="my-4">
                <h3 class="text-2xl font-bold mb-6 mt-16">!!!</h3>
                <p class="w-full">Dernière mise à jour, le 09/12/2024.</p>
              </div>
            </div>
            <div class="my-4">
              <h3 class="text-2xl font-bold mb-6 mt-16"></h3>
              <p class="w-full">
                Correspondant aux dispositions de l'article 6-III et 19 de la
                Loi n° 2004-575 du 21 juin 2004 concernant la Confiance en
                l'économie numérique, dite L.C.E.N., nous informons les
                visiteurs du site : PulseCenter.com Les informations ci-dessous
                :
              </p>
            </div>
          </div>

          <div class="pt-20 relative" id="legal" title="Informations légales">
            <h2 class="text-4xl capitalize sticky">Informations légales</h2>
            <p class="text-justify sm:text-left my-4">
              Le Propriétaire : <strong>Web Pulse</strong><br />
              Adresse de localisation du titulaire :
              <strong>24 Ave. Joannès Masset, 69009 Lyon</strong><br /><br />
              Le Développeur du site web : <strong>Web Pulse</strong><br />
              Le Directeur de la publication : <strong>Web Pulse</strong><br />
              Contacter le Directeur de publication :
              <strong>
                <a
                  href="mailto:pulsecenter69@gmail.com?subject=Contact%20via%20le%20site%20web"
                  >pulsecenter69@gmail.com</a
                > </strong
              ><br /><br />
              Hébergeur du site web : Web Pulse<br />
              SAS doté d'un capital de 0 Euros<br />
              Registre du commerce et des sociétés (RCS) RCS Paris A 000 000 000
              00000<br />
              Code APE (INSEE) 0000A<br />
              Num. de TVA : FR 00 000 000 000<br />
              Siège Sociale de l'hébergeur : 24 Ave. Joannès Masset, 69009
              Lyon<br />
            </p>
          </div>

          <div class="pt-20" id="introduction" title="Introduction">
            <h2 class="text-4xl capitalize sticky">Introduction</h2>
            <p class="w-full">
              Le site web PulseCenter.com est par principe accessible aux
              usagers H24 7/7, sauf en cas d'interruption prévue ou non pour les
              besoins de maintenance ou force majeure. En cas de service
              indisponible, PulseCenter.com fera son maximum afin de rétablir
              l'accès au site et tentera de communiquer préalablement aux
              utilisateurs les dates et heures de l'intervention.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              1. Collecte des Données
            </h3>
            <p class="w-full">
              Nous collectons les données suivantes :<br />Nom <br />Prénom
              <br />Adresse e-mail<br />
              Téléphone<br />
              Adresse postale, code postal, ville, pays<br />
              <strong> Données sensibles :</strong> Aucune donnée sensible n’est
              collectée.<br /><strong>
                Données collectées automatiquement :</strong
              >
              Nous n’utilisons pas de cookies ou autres technologies de suivi.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              2. Utilisation des Données
            </h3>
            <p class="w-full">
              Les données collectées sont utilisées uniquement pour :<br />
              L’inscription des utilisateurs <br />Le paiement<br />
              L’historique des commandes<br /><strong>
                Marketing et promotions :</strong
              >
              Aucun envoi promotionnel ou marketing n’est réalisé.<br /><strong>
                Analyses et statistiques :</strong
              >
              Nous n’effectuons aucune analyse ou statistique à partir des
              données.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              3. Partage des Données
            </h3>
            <p class="w-full">
              Les données peuvent être partagées avec les prestataires suivants
              : <br /><strong> Paiement :</strong> Stripe <br />Aucune donnée
              n’est partagée avec des autorités ou organismes publics, sauf si
              requis par la loi. <br />Notre site est hébergé localement et nous
              ne faisons pas appel à des prestataires tiers pour l’hébergement
              ou le marketing.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              4. Durée de Conservation
            </h3>
            <p class="w-full">
              Les données collectées sont conservées aussi longtemps que le site
              est actif. <strong> Suppression automatique :</strong> Nous ne
              proposons pas de suppression automatique des données après une
              période d’inactivité.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              5. Droits des Utilisateurs
            </h3>
            <p class="w-full">
              Les utilisateurs disposent des droits suivants : <br />Accès à
              leurs données <br />Rectification de leurs données
              <br />Suppression de leur compte<br />
              Ces droits peuvent être exercés via la page profil utilisateur ou
              en nous contactant à pulsecenter69@gmail.com.
              <strong> Procédure pour la suppression :</strong> Les utilisateurs
              peuvent demander la suppression de leur compte en nous contactant
              directement.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">6. Cookies et Suivi</h3>
            <p class="w-full">
              Nous n’utilisons aucun cookie ou technologie de suivi.<br />
              Aucun service tiers, tel que Google Analytics ou Pixel Facebook,
              n’est utilisé pour collecter des données.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              7. Sécurité des Données
            </h3>
            <p class="w-full">
              Nous avons mis en place les mesures suivantes pour protéger vos
              données : <br />Chiffrement des mots de passe dans la base de
              données (hachage).<br />
              Accès restreint à la base de données avec identifiant et mot de
              passe.<br />
              <strong> En cas de violation des données :</strong> Nous nous
              engageons à notifier la CNIL dans un délai de 72 heures.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              8. Législation et Juridiction
            </h3>
            <p class="w-full">
              Notre activité s’adresse à des utilisateurs du monde entier. Nous
              respectons les obligations du RGPD (Règlement Général sur la
              Protection des Données) et aucune législation locale
              supplémentaire ne s’applique.
            </p>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold mb-6 mt-16">
              9. Contact et Mise à Jour
            </h3>
            <p class="w-full">
              Pour toute question relative à la confidentialité, vous pouvez
              nous contacter à
              <a
                href="mailto:pulsecenter69@gmail.com?subject=Contact%20via%20le%20site%20web"
                >pulsecenter69@gmail.com</a
              ><br />
              <strong> Mise à jour de la politique :</strong> En cas de
              modification de cette politique, nous mettrons à jour la date
              indiquée en haut de cette page et informerons les utilisateurs si
              nécessaire.
            </p>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
{% endblock %}
