<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flowbite</title>
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />
  </head>
  <body>
    <section class="grid grid-cols-2">
      <!-- partie gauche -->
      <div>
        <div>
          <p>Oops</p>
        </div>
        <div>
          <p>La page que vous cherchez semble introuvable. Retournez à l'accueil ou explorez d'autres sections du site.</p>
        </div>
      </div>
      <!-- partie droite -->
      <div class="flex justify-center">
        <img
          class="w"
          src="../img/error-image.webp"
          alt="Image Erreur"
        />
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>

  <script src="{{ asset('js/theme.js') }}"></script>
</html>
